

####################################################################### Device
# Benutzer und Passwort des Telefons
w48_username = "w48"
w48_passwd = ""

# Der Hostname des Telefons
w48_hostname = "w48"

# Anzahl der Bootvorgaenge
w48_reboots = "0"

# Die Zeit die das Telefon seit Neustart gelaufen ist
w48_uptime = "0"

# Die Mac Addressen des Telefons
w48_mac_eth0 = "e0:28:6d:06:8a:ca"
w48_mac_wlan0 = "e0:28:6d:06:8a:cb"
w48_mac_wlan1 = "e0:28:6d:06:8a:cc"

# Uebertragungsgeschwindigkeit zwischen wlan1 und wlan0
w48_upstream_bitrate = 512000
w48_downstream_bitrate = 512000

# Der default Start-Code
w48_StartCode = "0000-0000-0000-0000"

################################################################# Auto Konfiguration
# Wurde autoCfg beendet bzw wurde ein Password vergeben ?
w48_autoCfgStart = "no"
w48_autoCfgPasswd = "no"
w48_autoCfgInet = "no"
w48_autoCfgCode = "no"
w48_autoCfgCodeNumber = "0000-0000-0000-0000"
w48_autoCfgFinish = "no"
w48_autoCfgDoConfig = "no"


################################################################# Telefonie
# Die Zugangsdaten fuer die Telefonie
w48_SIP_User = ""
w48_SIP_Nummer = ""
w48_SIP_Passwd = ""
w48_SIP_Registrar = ""
w48_SIP_Stun = ""

# Die Zugangsdaten fuer ein Angeschlossenes IP-Telefon
w48_SIP_GUEST_User = ""
w48_SIP_GUEST_Name = "IP-Telefon"
w48_SIP_GUEST_Nummer = ""
w48_SIP_GUEST_Passwd = ""
w48_SIP_GUEST_Registrar = ""
w48_SIP_GUEST_Stun = ""


################################################################## WLAN
# Accesspoint 
w48_AP_SSID = "Tischfernsprecher W48"
w48_AP_Passphrase = "12345678"
w48_AP_NAT = ""

# Internetverbindung
w48_GW_SSID = ""
w48_GW_Passphrase = ""


################################################################# Tools
# mediaserver
w48_Samba_Workgroup = "WORKGROUP"
djmount = "on"
w48_DLNA_Name = "Tischfernsprecher W48"


# Zugangsdaten fuer DynDNS
w48_DDNS_Url = ""
w48_DDNS_Domain = ""
w48_DDNS_User = ""
w48_DDNS_Passwd = ""


################################################################### Fritzbox 
# Fritzbox kompatiblitaet
w48_BoxInfo_e = "http://www.ows-sz.de/updatecheck"
w48_BoxInfo_q = "http://www.ows-sz.de/request"
w48_Name = "Tischfernsprecher W48"
w48_HW = "990"
w48_Major = "113"
w48_Minor = "1"
w48_Patch = "1"
w48_Buildnumber = "00001"
w48_Buildtype = "1"
w48_Version = "999.01.00-00001"
w48_Revision = "00001"
w48_Serial = "3810D51E2BD6"
w48_OEM = "ows"
w48_Lang = "de"
w48_Country = "049"
w48_Annex = "Ohne"
w48_Flag = "mesh_repeater"
w48_UpdateConfig = "2"
w48_Provider = "oma_ipclient"
w48_ProviderName = ""
